.searchField{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputBox{
    width: 480px;
    height: 40px;
    margin: 0.5rem;
    border-radius: 15px;
}

.okButton{
    background-color: rgb(88, 146, 2);
    color: white;
    font-size: medium;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 9999px;
    transition: all 0.25s;
}

.okButton:hover{
    transform: scale(1.05);
    background-color: rgb(120, 197, 6);
}